@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    294 Chalet Dr<br />
    Millersville, MD 21108<br />
    <abbr title="Phone">P:</abbr>
    870.866.8919
</address>

<address>
    <strong><a href="mailto:joshuahill84@gmail.com">Support</a></strong> <br />
    <strong><a href="mailto:joshuahill84@gmail.com">Marketing</a></strong>
</address>