@using TimeTracker.App.Migrations
@using TimeTracker.App.Models
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    
    <div class="col-sm-4">
        <div class="card card-block">
            <h3 class="card-title">Track your Team</h3>
            <p class="card-text">update team schedual here</p>
            @Html.ActionLink("Track", "Index", "TimeEntry", new {teamid = ViewBag.MyTeamId}, new {@class = "btn btn-primary"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-block">
            <h3 class="card-title">Lookup Report Data</h3>
            <p class="card-text">overview current team stats on schedual</p>
            @Html.ActionLink("Reports", "CalendarReports", "Reports", null, new {@class = "btn btn-primary"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-block">
            <h3 class="card-title">View a Team</h3>
            <p class="card-text">view your team of Employee's here</p>
            @Html.ActionLink("View", "Index", "Employees", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>


<hr />