@using TimeTracker.App.Migrations
@using TimeTracker.App.Models
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-sm-4">
        <div class="card card-block">
            <h3 class="card-title">Create a Team</h3>
            <p class="card-text">create your team of employee's here</p>
            @Html.ActionLink("Create", "Index","Teams", null, new { @class="btn btn-primary"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-block">
            <h3 class="card-title">Track your Team</h3>
            <p class="card-text">update team schedual here</p>
            @Html.ActionLink("Track", "Index", "TimeEntry", new { teamid = ViewBag.MyTeamId}, new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-block">
            <h3 class="card-title">Lookup Report Data</h3>
            <p class="card-text">overview current team stats on schedual</p>
            @Html.ActionLink("View", "CalendarReports", "Reports", null /* need a employeeId here*/, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>


<hr />