@model TimeTracker.App.Models.TimeEntryIndexVM
@{
    ViewBag.Title = "Index";
}

<h2>@Model.TeamName - @Model.ShiftName for @Model.Date.ToShortDateString()</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
    </tr>
    <tbody>
    @foreach (var person in Model.TeamMembers)
    {
        <tr>
            <td>@Html.ActionLink(person.FullName, "EmployeeEntry", new { EmployeeId = person.Id, ShiftId = Model.ShiftId, Date= Model.Date})@person.FullName</td>
          
        </tr>
    }
    </tbody>
</table>
